body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #555555;
    font-size: 15pt;
}

.top {
    background-color: white;
    border-bottom: 0.75px dotted gray;
    font-size: 15pt;
}

#logo {
    height: 40px;
    width: auto;
}

.auth-buttons {
    margin-left: 8px;
}

.gold-button {
    border-color: #FFCB57;
    color: #FFCB57;
}

.gold-button:hover {
    background-color: #FFCB57;
    border-color: #FFCB57;
}

.red-button {
    border-color: #EF5830;
    color: #EF5830;
}

.red-button:hover {
    background-color: #EF5830;
    border-color: #EF5830;
}

.card {
    padding: 20px;
}

/*------------------------------------------------------------------------------*/

.heading {
    text-align: center;
    font-size: 20pt;
}

#route-card {
    width: 500px;
    color: #FFCB57;
    height: 150px;
    padding-left: 0px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #555555;
    text-align: center;
}

input:focus {
    outline: none;
}

#route-img {
    width: 100px;
    height: auto;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#date-img {
    width: 100px;
    height: auto;
    margin: 20px;
}

#date-card {
    width: 300px;
    color: #555555;
    height: 150px;
}

#pass-card {
    height: 150px;
    width: 100%;
    padding-right: auto;
    padding-left: auto;
}

.pass {
    display: inline-block;
}

/*.city {*/
/*display: inline-block;*/
/*}*/

.passenger-img {
    margin-left: 10px;

    width: 50px;
    height: auto;
}

#cityB {
    /*margin-left: 220px;*/
    margin-top: 10px;
    color: #EF5830;
}

#airlines-card {
    color: #555555;
    height: 300px;
    width: 400px;
}

#airline-img {
    width: 100px;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-card {
    text-align: center;

}

#sflight-img {
    width: 300px;
    height: auto;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#rhist-img {
    width: 300px;
    height: auto;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.airline-card {
    border-color: #EF5830;
}

.airline-card > h3 {
    text-align: center;
}

.airline-logo {
    height: auto;
    width: 100%;

}

.airline-card > a {
    text-align: center;
    color: #FFCB57;
    font-size: 16pt;
}

.airline-news-card {
    border-color: #EF5830;
}

.airline-news-card a {
    color: #FFCB57;
}

.airline-news-card > p {
    font-size: 10pt;
}

#error-page {
    text-align: center;
    margin-top: 200px;
    color: #EF5830;
}

#error-page img {
    width: 200px;
    height: auto;
}

#error-page a {
    color: #FFCB57;
}

.centered{
    margin: 0 auto;
}