
            <br>
            <h3> Ukraine International Airlines (UIA)  </h3> <br>

            <table>
                <tr>
                    <th> IATA </th>
                    <td> PS </td>
                </tr>

                <tr>
                    <th> ICAO </th>
                    <td> AUI
 </td>
                </tr>

                <tr>
                    <th> Callsign </th>
                    <td> UKRAINE INTERNATIONAL
 </td>
                </tr>
            </table>

            <br>

        <table><tr> <td> Founded </td> <td>
1 October 1992 </td> </tr><tr> <td> Hubs </td> <td>
 </td> </tr><tr> <td> Frequent-flyer program </td> <td>
Panorama Club </td> </tr><tr> <td> Fleet size </td> <td>
45 </td> </tr><tr> <td> Destinations </td> <td>
88 </td> </tr><tr> <td> Parent company </td> <td>
 </td> </tr><tr> <td> Headquarters </td> <td>
 </td> </tr><tr> <td> Key people </td> <td>
 </td> </tr><tr> <td> Website </td> <td>
 </td> </tr></table><br> <hr>
            <br>
            <h3> Wizz Air Hungary Ltd. </h3> <br>

            <table>
                <tr>
                    <th> IATA </th>
                    <td> W6 </td>
                </tr>

                <tr>
                    <th> ICAO </th>
                    <td> WZZ
 </td>
                </tr>

                <tr>
                    <th> Callsign </th>
                    <td> WIZZAIR
 </td>
                </tr>
            </table>

            <br>

        <table><tr> <td> Founded </td> <td>
September 2003 </td> </tr><tr> <td> Operating bases </td> <td>
 </td> </tr><tr> <td> Fleet size </td> <td>
104 </td> </tr><tr> <td> Destinations </td> <td>
139 </td> </tr><tr> <td> Company slogan </td> <td>
 </td> </tr><tr> <td> Parent company </td> <td>
Wizz Air Holdings Plc </td> </tr><tr> <td> Headquarters </td> <td>
 </td> </tr><tr> <td> Key people </td> <td>
 </td> </tr><tr> <td> Revenue </td> <td>
 </td> </tr><tr> <td> Operating income </td> <td>
 </td> </tr><tr> <td> Net income </td> <td>
 </td> </tr><tr> <td> Website </td> <td>
 </td> </tr></table><br> <hr>
            <br>
            <h3> Ryanair </h3> <br>

            <table>
                <tr>
                    <th> IATA </th>
                    <td> FR
 </td>
                </tr>

                <tr>
                    <th> ICAO </th>
                    <td> RYR
 </td>
                </tr>

                <tr>
                    <th> Callsign </th>
                    <td> RYANAIR
 </td>
                </tr>
            </table>

            <br>

        <table><tr> <td> Founded </td> <td>
28 November 1984 </td> </tr><tr> <td> Commenced operations </td> <td>
8 July 1985 </td> </tr><tr> <td> Operating bases </td> <td>
 </td> </tr><tr> <td> Subsidiaries </td> <td>
 </td> </tr><tr> <td> Fleet size </td> <td>
444 </td> </tr><tr> <td> Destinations </td> <td>
 </td> </tr><tr> <td> Company slogan </td> <td>
 </td> </tr><tr> <td> Parent company </td> <td>
Ryanair Holdings plc </td> </tr><tr> <td> Headquarters </td> <td>
 </td> </tr><tr> <td> Key people </td> <td>
 </td> </tr><tr> <td> Revenue </td> <td>
 </td> </tr><tr> <td> Operating income </td> <td>
 </td> </tr><tr> <td> Net income </td> <td>
 </td> </tr><tr> <td> Total assets </td> <td>
 </td> </tr><tr> <td> Total equity </td> <td>
 </td> </tr><tr> <td> Employees </td> <td>
13,000  </td> </tr><tr> <td> Website </td> <td>
 </td> </tr></table><br> <hr>