{% extends "base.html" %}
{% block content %}
    <p class="heading"> — {{ _("our airlines") }} — </p>

    <div class="card-columns">
        {% for item in airlines %}
            <div class="card airline-card">
                <img src="../static/{{ item.airline }}.svg" class="airline-logo">
                <br>
                <h3> "{{ item.caption }}" </h3>
                <a class="link" href="news/{{ item.airline }}">{{ _("READ NEWS") }}</a><br>

                <table>
                    <tr>
                        <th> IATA</th>
                        <td> &emsp; {{ item.iata }} </td>
                    </tr>

                    <tr>
                        <th> ICAO</th>
                        <td> &emsp; {{ item.icao }} </td>
                    </tr>

                    <tr>
                        <th> {{ _("Callsign") }}</th>
                        <td> &emsp; {{ item.callsign }} </td>
                    </tr>

                    <tr>
                        <th> {{ _("Founded") }}</th>
                        <td> &emsp; {{ item.founded }} </td>
                    </tr>

                    <tr>
                        <th> {{ _("Website") }}</th>
                        <td> &emsp; {{ item.url }} </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}
