<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whatafly!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body class="backcol">
<div class="top">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('search') }}"><img id="logo" src="../static/airplane.svg"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">{{ _("Search") }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _("Airlines Info") }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{ url_for('airlinesinfo') }}">{{ _("Info") }} </a>
                      <a class="dropdown-item" href="/airlines_stats/{{2019}}">{{ _("Statistics") }} </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contacts') }}">{{ _("Contacts") }}</a>
                </li>
            </ul>
{#            <div class="right-side">#}
{#                <select class="selectpicker" data-width="fit">#}
{#                    <option data-content='<span class="flag-icon flag-icon-us"></span> English'><a href="{{ url_for('set_language', language="en") }}">English</a></option>#}
{#                    <option data-content='<span class="flag-icon flag-icon-mx"></span> Русский'><a href="{{ url_for('set_language', language="ru") }}">Русский</a></option>#}
{#                    <option data-content='<span class="flag-icon flag-icon-mx"></span> Deutsch'><a href="{{ url_for('set_language', language="de") }}">Deutsch</a></option>#}
{#                </select>#}
{#            </div>#}
            {% if current_user.is_anonymous %}
                <div class="right-side">
                    <a class="nav-link btn btn-outline-dark auth-buttons gold-button" href="{{ url_for('login') }}">{{ _("Sign
                        in") }}</a>
                </div>
                <div class="right-side">
                    <a class="nav-link btn btn-outline-dark auth-buttons red-button" href="{{ url_for('signup') }}">{{ _("Sign
                        up") }}</a>
                </div>
            {% else %}
                <div class="right-side">

                    <a class="nav-link btn btn-outline-dark auth-buttons gold-button"
                       href="{{ url_for('profile', user_id = current_user.id) }}">{{ _("Account") }}</a>

                </div>
                <div class="right-side">
                    <a class="nav-link btn btn-outline-dark auth-buttons red-button"
                       href="{{ url_for('logout') }}">{{ _("Logout") }}</a>
                </div>
            {% endif %}
        </div>
    </nav>
</div>

<div class="container-fluid mt-2">
    {% block content %}{% endblock %}
</div>


<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>