{% extends "base.html" %}
{% block content %}
    <p class="heading"> — contact our team — </p>

    <div class="container">

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../static/stacy.svg">
                <div class="card-body">
                    <h5 class="card-title">Stacy Cherneha</h5>
                    <p class="card-text">+84570245923</p>
                    <p class="card-text">stacy.cherneha@gmail.com</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../static/dima.svg">
                <div class="card-body">
                    <h5 class="card-title">Dima Branitskyi</h5>
                    <p class="card-text">+239523384587</p>
                    <p class="card-text">dimabranik@ukr.net</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../static/lena.svg">
                <div class="card-body">
                    <h5 class="card-title">Lena Galitska</h5>
                    <p class="card-text">+2395092485092384</p>
                    <p class="card-text">h.galitskaya@gmail.com</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}