{% extends "base.html" %}
{% block content %}
    <p class="heading"> — {{ _("price stats") }} — </p>
    <div class="container">

        <div class="centered text-center">
            <div class="row">
                <div class="col-sm-2 col-xs-2 text-center">{{ flight.departure }}</div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="/static/img/right-arrow.png">
                </div>
                <div class="col-sm-2 col-xs-2 text-center">{{ flight.arrival }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-center">{{ flight.departureTime }}</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-center">{{ flight.arrivalTime }}</div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <img class="mr-2" src="/static/img/airplane.png">
                    {{ flight.airline }}
                </div>
            </div>
        </div>
    <br><br>


        {% for price in prices %}
            <div class="row">
                <div class="col-sm-2 col-xs-2 text-center">{{ price['date'] }}</div>
                <div class="col-sm-2 col-xs-2 text-center">
                    {% for fare in price['fares'] %}
                        <p>{{ fare.amount }} {{ fare.currencyCode }}</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}

    </div>
{% endblock %}