{% extends "base.html" %}
{% block content %}
    <p class="heading"> — saved flights — </p>

    <div class="card-columns">
        {% for flight in saved_flights %}
            <div class="card">
                <p>{{ flight.departure }} -----> {{ flight.arrival }}</p>
                <p>{{ flight.airline }}</p>
                <p>Departure: {{ flight.departureTime }}</p>
                <p>Arrival: {{ flight.arrivalTime }}</p>
                <p>{{ flight.price }} $</p>
                <button class="btn btn-outline-dark red-button" name="remove">remove</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
