{% extends "base.html" %}
{% block content %}
    <p class="heading"> — {{ _("saved flights") }} — </p>

    <div class="container">
        {% for flight in saved_flights %}
            <div class="row">
                <div class="col-sm-2 col-xs-2 text-center">{{ flight.departure }}</div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <img src="/static/img/right-arrow.png">
                </div>
                <div class="col-sm-2 col-xs-2 text-center">{{ flight.arrival }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-center">{{ flight.departureTime }}</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-center">{{ flight.arrivalTime }}</div>
            </div>
            <div class="row my-2">
                <div class="col-4">
                    <img class="mr-2" src="/static/img/airplane.png">
                    {{ flight.airline }}
                </div>
                <div class="col-4">
                    {{ flight.price }} ‎​€​
                </div>
            </div>
            <div class="row my-2">
                <button class="btn btn-outline-dark">{{ _("price stats") }}</button>
            </div>
            <hr>


        {% endfor %}
    </div>
{% endblock %}
