{% extends "base.html" %}
{% block content %}
    <p class="heading"> — give a try to whatafly — </p>
    <div>
        <form class="needs-validation form-card"
              action="{{ url_for('results') }}" method="post">
            <div class="card-deck">
                <div class="card search-form-card" id="route-card">
                    <div class="row">
                        <div class="city col-lg-4">
                            {{ form.hidden_tag() }}
                            <div class="d-flex m-3">
                                <div class="col-sm-3">
                                    {{ form.departure.label }}
                                    {{ form.departure(placeholder="City A", class="col-15 form-control form-control-inline selectpicker", id="cityA", style="width: 200px;") }}
                                </div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <img class="col-lg-4" src="../static/route.svg" id="route-img">
                        <div class="city col-lg-4" id="cityB">
                            <div class="d-flex ">
                                <div class="">
                                    {{ form.arrival.label }}
                                    {{ form.arrival(placeholder="City B", class="form-control form-control-inline", style="width: 200px;") }}
                                </div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card search-form-card" id="date-card">
                    <div class="row">
                        <img src="../static/calendar.svg" id="date-img">
                        <div class="form-check form-check-inline">
                            <div>
                                {#                            {{ form.date.label }}#}
                                {{ form.date(id="departureDate", class="form-control", type="date") }}
                                <div class="invalid-feedback">
                                    Please provide a valid date.
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="monthSearch">
                                <label class="form-check-label" for="monthSearch">
                                    FLEXIBLE
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-deck mt-4">
                <div class=" card search-form-card row" id="pass-card">
                    {#                        <label for="passengers">Passengers</label>#}
                    <div class="form-group pass">
                        <img class="passenger-img" src="../static/parents.svg">
                        <label for="adult" class="card-text">Adult</label>
                        <div class="col-5">
                            <input class="form-control" type="number" value="1" id="adult" min="1">
                        </div>
                    </div>
                    <div class="form-group pass">
                        <img class="passenger-img" src="../static/boy.svg">
                        <label for="child" class="card-text">Child</label>
                        <div class="col-5">
                            <input class="form-control" type="number" value="0" id="child" min="0">
                        </div>
                    </div>
                    <div class="form-group pass">
                        <img class="passenger-img" src="../static/girl.svg">
                        <label for="teen" class="card-text">Teen</label>
                        <div class="col-5">
                            <input class="form-control" type="number" value="0" id="teen" min="0">
                        </div>
                    </div>
                    <div class="form-group pass">
                        <img class="passenger-img" src="../static/baby.svg">
                        <label for="infant" class="card-text">Infant</label>
                        <div class="col-5">
                            <input class="form-control" type="number" value="0" id="infant" min="0">
                        </div>
                    </div>
                    <div class="form-group pass">
                        <img class="passenger-img" src="../static/grandparents.svg">
                        <label for="senior" class="card-text">Senior</label>
                        <div class="col-5">
                            <input class="form-control" type="number" value="0" id="senior" min="0">
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-deck mt-4 mb-2">
                <div class="card search-form-card col-3" id="airlines-card">
                    {#                    <div class="col-md-4 mb-3">#}
                    <img src="../static/airline.svg" id="airline-img">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked> Wizz Air</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked> RyanAir</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked> Ukrainian International Airlines</label>
                    </div>
                    {#                    </div>#}
                </div>
                <button class="btn btn-outline-dark gold-button" type="submit" onsubmit="results()">Search</button>
            </div>
        </form>

        <script>
            document.getElementById("departureDate").innerHTML = Date();

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
{% endblock %}